table {
  width: 100%;
}

td {
  width: 33%;
  text-align: left;
  vertical-align: top;
}

.leftBorders {
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding: 0;
}

.centerBorders {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.rightBorders {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-left: 2px solid lightgray;
}

.centered {
  margin: auto;
  width: 50%;
}

.stars {
  /* display: inline-block; */
}

.description {
  white-space: pre-wrap;
}

.website {
  color: #0366d6;
}

.website:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul {
  /* padding: 0; */
  font-size: 14px;
}
